server {
    listen 80;
    return       301 https://{{ nginx_domain_name }}$request_uri;
}

server {
    listen 443 ssl;

    ssl_certificate /etc/nginx/ssl/ojetech.crt;
    ssl_certificate_key /etc/nginx/ssl/ojetech.key;

    client_max_body_size 10M;
    server_name {{ nginx_domain_name }};
    root /srv/www/ojetech.eu/current/web/;

    if (-f $document_root/error503.html) {
        return 503;
    }

    error_page 503 @maintenance;
    location @maintenance {
        rewrite ^(.*)$ /error503.html break;
    }

    gzip on;
    gzip_disable "msie6";

    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;
}
