
server {
  listen 80;
  server_name {{ nginx_domain_name }};

  rewrite ^ https://$host$request_uri? permanent;
}

server {
  include mime.types;
  listen 443 ssl default deferred;
  server_name {{ nginx_domain_name }};

  ssl_certificate /etc/letsencrypt/live/ojetech.eu/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/ojetech.eu/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/ojetech.eu/fullchain.pem;

  location / {
    proxy_pass http://localhost:1196;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }
}
