@import "./root.scss";
.mainContent {
  background-color: $secondary;
  display: flex;
  flex-direction: column;
  padding: 2em;
  @media only screen and (min-width: $computer) {
    flex-direction: row;
  }
  img {
    width: 100vw;
  }
}
