@import "./reset.scss";
@import "./utils/responsive.scss";
@import "./utils/colors.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Roboto', 'sans-serif';
}
.mainContent {
  display: flex;
}
a {
  color: $textColor;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1em;
  background-color: $primary;
  color: $white;
  b {
    font-size: 1.5em;
  }
  .logo {
    display: flex;
    align-items: baseline;
  }
  .options {
    display: inline-block;
    ul {
      display: flex;
      flex-direction: row;
    }
    li {
      padding: 0 .5em;
      &:last-child {
        padding-right: 0;
      }
      a:hover {
        border-bottom: 2px solid $white;
      }
    }
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $greyBackground;
  padding: 1em;
  color: $white;
  h2 {
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid $greyLight;
    margin-bottom: .2em;
    padding-bottom: .2em;
  }
  @media only screen and (min-width: $computer) {
    flex-direction: row;
  }

  .section {
    padding: 1em 2em;
    li {
      padding: .2em 0;
      font-size: .9em;
      &:hover {
        @media only screen and (min-width: $computer) {
          text-decoration: underline;
        }
      }
      a {
        cursor: pointer;
      }
    }
  }
}
