@import "./root.scss";
.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-image: url(/assets/images/bg.jpg);
  background-size: cover;
  @media only screen and (min-width: $computer) {
    height: 400px
  }
  h1 {
    font-family: 'Lato';
    font-weight: 100;
    color: $white;
    font-size: 3em;
    line-height: 1.5em;
  }
  h2 {
    font-family: 'Lato';
    font-weight: 100;
    color: $white;
    font-size: 1em;
    text-align: center;
  }
}
.servicesContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: $secondary;
  padding: 1em 0;

  .slogan {
    color: $greyBackground;
    font-size: 2em;
  }
  .services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    .itemContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media only screen and (min-width: $computer) {
        flex-direction: row;
      }
      .serviceItem {
        display: flex;
        flex-direction: column;
        padding: 1em 2em;
        width: 100vw;
        i.material-icons {
          font-size: 5em;
          color: $greyBackground;
          text-align: center;
          @media only screen and (min-width: $computer) {
            font-size: 10em;
          }
        }
        .description {
          text-align: center;
          color: $greyBackground;
        }
      }
    }
  }
  .knowMore {
    padding: 20px 50px;
    background-color: $primary;
    color: $white;
  }
}
.whoContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: $greyBackground;
  padding: 1em 0 0 0;
  .slogan {
    color: $white;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 1em;
  }
  .summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    .itemContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media only screen and (min-width: $computer) {
        flex-direction: row;
      }
      .whoItem {
        display: flex;
        flex-direction: column;
        padding: 1em 2em;
        width: 100vw;
        i.material-icons {
          font-size: 5em;
          color: $white;
          text-align: center;
          @media only screen and (min-width: $computer) {
            font-size: 10em;
          }
        }
        .description {
          color: $white;
        }
      }
    }
  }
}
.whereContent {
  display: flex;
  flex-direction: column;
  background-color: $primary;
  padding: 1em 0 0 0;

  .slogan {
    color: $textColor;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 1em;
  }

  .map {
    iframe {
      width: 100vw;
    }
  }
}
