extends ../dashboard.pug
block append scripts
  script(src="/assets/js/admin/dashboard/newHoroscope.js", type="text/javascript")
block nestedContent
  .panel.panel-primary
    .panel-heading
      h4 New Horoscope
    .panel-body
      form(method="post", action=url('post_admin.dashboard.horoscope.new'))
        .form-group
          select.form-control(name="inputZodiac")
            option(value="Sagitario") Sagitario
            option(value="Capricornio") Capricornio
            option(value="Aries") Aries
            option(value="Cancer") Cancer
            option(value="Escorpio") Escorpio
            option(value="Piscis") Piscis
            option(value="Acuario") Acuario
            option(value="Leo") Leo
            option(value="Libra") Libra
            option(value="Virgo") Virgo
            option(value="Geminis") Geminis
            option(value="Tauro") Tauro
        .form-group
          label(for="inputDate") Fecha (DDMMYY)
          input.form-control(type="text", id="inputDate", name="inputDate")
        .form-group
          label(for="inputDescription") Descripción
          textarea.form-control(rows="6", name="inputDescription" id="inputDescription")
        .form-group
          button.btn.btn-success(type="submit") Guardar
