extends include/layout.pug

block append styles
  link(rel="stylesheet", href="assets/css/landing.css")

block content
  .mainContent
    div
      img(src="assets/images/logo.png", alt="Llumyapps")
    div
      img(src="assets/images/landing-mobiles.png", alt="Dispositivos móviles")
