extends include/layout.pug
block append styles
  link(rel="stylesheet", href="assets/css/wall.css")

block content
  .mainContent
    h1 Ojetech
    h2 Web Services bajo demanda
  .servicesContent
    .slogan
      | ¿Qué ofrecemos?
    .services
      .itemContainer
        .serviceItem
          i.material-icons cloud
          .description Web Services
        .serviceItem
          i.material-icons web
          .description Diseño Web
        .serviceItem
          i.material-icons code
          .description Consultoría
    .knowMore
      a(href=url('services')) Saber más
  .whoContent
    .slogan
      h2 ¿Quienes somos?
    .summary
      .itemContainer
        .whoItem
          i.material-icons developer_mode
          .description
  .whereContent
    .slogan
      h2 ¿Dónde estámos?
    .map
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3080.1814553264035!2d-0.33262918466775615!3d39.4652292208779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd60485d874d9619%3A0xb0086a01cc4cdb60!2sCarrer+del+Progr%C3%A9s%2C+66%2C+46011+Val%C3%A8ncia%2C+Valencia!5e0!3m2!1ses!2ses!4v1493910826143',
           width='600',
           height='450',
           frameborder='0',
           style='border:0',
           allowfullscreen='')
