.footer
  .section
    h2 Sobre nosotros
    ul
      li
        a(href='/articles') Blog
      li
        a(href=url('contact')) Contacto
      li
        a(href=url('services')) Servicios
  .section
    h2 Desarrolladores
    ul
      li
        a(href="/apidoc") API Reference
