html
  head
    title= title
    style(type="text/css").
      body {
        padding: 0;
        margin: 0;
      }

      #backgroundvid {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        background-size: cover;
      }
      iframe {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
      }

body
  video#backgroundvid(loop, autoplay)
    source(src="/assets/videos/cabra.mp4", type="video/mp4")
