extends ../dashboard.pug
block append scripts
  script(src="/assets/js/admin/dashboard/viewHoroscope.js", type="text/javascript")
block nestedContent
  .panel.panel-primary
    .panel-heading
      h4= horoscope.zodiac
    .panel-body
      form(method="post", action=url('post_admin.dashboard.horoscope.view', { id: horoscope.id }))
        .form-group
          select.form-control(name="inputZodiac")
            option(value="Sagitario", selected= horoscope.zodiac === 'Sagitario') Sagitario
            option(value="Capricornio", selected= horoscope.zodiac === 'Capricornio') Capricornio
            option(value="Aries", selected= horoscope.zodiac === 'Aries') Aries
            option(value="Cancer", selected= horoscope.zodiac === 'Cancer') Cancer
            option(value="Escorpio", selected= horoscope.zodiac === 'Escorpio') Escorpio
            option(value="Piscis", selected= horoscope.zodiac === 'Piscis') Piscis
            option(value="Acuario", selected= horoscope.zodiac === 'Acuario') Acuario
            option(value="Leo", selected= horoscope.zodiac === 'Leo') Leo
            option(value="Libra", selected= horoscope.zodiac === 'Libra') Libra
            option(value="Virgo", selected= horoscope.zodiac === 'Virgo') Virgo
            option(value="Geminis", selected= horoscope.zodiac === 'Geminis') Geminis
            option(value="Tauro", selected= horoscope.zodiac === 'Tauro') Tauro
        .form-group
          label(for="inputDate") Fecha (DDMMYY)
          input.form-control(type="text", value= new Date(horoscope.date).toLocaleDateString(), id="inputDate", name="inputDate")
        .form-group
          label(for="inputDescription") Descripción
          textarea.form-control(rows="6", name="inputDescription", id="inputDescription")
            | #{horoscope.description}
        .form-group
          button.btn.btn-success(type="submit") Guardar
