extends ./dashboard.pug
block append scripts
  script(src="/assets/js/admin/dashboard/post.js", type="text/javascript")

block nestedContent
  block mainContent
    .row
      .col-md-12.text-center
        a.btn.btn-primary(href=url('admin.dashboard.post.new'))
          | Nuevo post
    .row
      .col-md-12
        table.table.table-striped
          thead
            td Title
            td Slug
            td Date
            td Actions
          tbody
            each post in posts
              tr
                td= post.title
                td= post.slug
                td= new Date(post.createdAt).toLocaleDateString()
                td
                  .btn-group(role="group", aria-label="...")
                    a.btn.btn-default(href=url('admin.dashboard.post.view', { id: post.id }), type="button")
                      span.glyphicon.glyphicon-pencil(aria-hidden="true")
                  .btn-group(role="group", aria-label="...")
                    a.btn.btn-default(href=url('admin.dashboard.post.delete', { id: post.id }), type="button")
                      span.glyphicon.glyphicon-remove(aria-hidden="true")
        nav.text-center(aria-label="Page navigation")
          ul.pagination
            if (parseInt(page) !== 1 && parseInt(page) !== 0)
              li
                a(href=url('admin.dashboard.post', { page: parseInt(page) - 1 }), aria-label="Previous")
                  span(aria-hidden="true") &laquo;
            if (parseInt(page) - 3) > 0
              li
                a(href=url('admin.dashboard.post', { page: parseInt(page) - 3 }), aria-label="Page#" + (parseInt(page) - 3))
                  span(aria-hidden="true")= page - 3
            if (parseInt(page) - 2) > 0
              li
                a(href=url('admin.dashboard.post', { page: parseInt(page) - 2 }), aria-label="Page#" + (parseInt(page) - 2))
                  span(aria-hidden="true")= page - 2
            if (parseInt(page) - 1) > 0
              li
                a(href=url('admin.dashboard.post', { page: parseInt(page) - 1 }), aria-label="Page#" + (parseInt(page) - 1))
                  span(aria-hidden="true")= page - 1
            li.active
              a(href="#", aria-label="Page#{page}")
                span(aria-hidden="true")= page
            if (parseInt(pages) >= parseInt(page) + 1)
              li
                a(href=url('admin.dashboard.post', { page: parseInt(page) + 1 }), aria-label="Page#" + (parseInt(page) + 1))
                  span(aria-hidden="true")= page + 1
            if (parseInt(pages) >= parseInt(page) + 2)
              li
                a(href=url('admin.dashboard.post', { page: parseInt(page) + 2 }), aria-label="Page#" + (parseInt(page) + 2))
                  span(aria-hidden="true")= page + 2
            if (parseInt(pages) >= parseInt(page) + 3)
              li
                a(href=url('admin.dashboard.post', { page: parseInt(page) + 3 }), aria-label="Page#" + (parseInt(page) + 3))
                  span(aria-hidden="true")= page + 3
            if (parseInt(pages) >= parseInt(page) + 1)
              li
                a(href=url('admin.dashboard.post', { page: parseInt(page) + 1 }), aria-label="Next")
                  span(aria-hidden="true") &raquo;

