extends ./include/layout.pug
block append styles
  link(rel="stylesheet", href="/assets/css/dashboard.css")

block content
  .container-fluid.container-dashboard
    if (flash && flash.info != '')
      .alert.alert-info(role="alert")
        | #{flash.info}
    .row
      .col-md-2
        list-group
          if url('admin.dashboard.horoscope') === path || path.indexOf(url('admin.dashboard.horoscope')) > -1 || url('admin.dashboard.horoscope').indexOf(path) > -1
            a.list-group-item.active(href=url('admin.dashboard.horoscope')) Horóscopo
          else
            a.list-group-item(href=url('admin.dashboard.horoscope')) Horóscopo

          if url('admin.dashboard.post') === path || path.indexOf(url('admin.dashboard.post')) > -1 || url('admin.dashboard.post').indexOf(path) > -1
            a.list-group-item.active(href=url('admin.dashboard.post')) Blog
          else
            a.list-group-item(href=url('admin.dashboard.post')) Blog
      .col-md-10
        block nestedContent
