extends ./include/layout.pug
block append styles
  link(rel="stylesheet", href="/assets/css/login.css")

block content
  .container.container-login
    .row
      .col-md-offset-3.col-md-6.col-xs-12
        .panel.panel-primary
          .panel-heading
            | Admin panel LlumMyApps
          .panel-body
            form(method="post", action=url('admin.login'))
              .from-group
                input.form-control(type="text", placeholder="Username", name="username")
                br
                input.form-control(type="password", placeholder="Password", name="password")
                br
                .flex-end
                  button.btn.btn-default(type="submit") Entrar
