.backOffice {
  .centered {
    text-align: center
  }
  thead {
    td {
      text-align: center;
    }
  }
  td {
    min-width: 25em
  }
  .button {
    display: inline-block;
    padding: 1em 2.5em;
    border-radius: 1px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #69c369;
    }
  }
}
