html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="google-site-verification", content="JEiOFbrF5wY3XCQd43q_CGEWtw3SPZGGl_8ACKWi5qk")
    block styles
  body
    block navbar
      include ../navbar.pug
    block content
    block foot
      include ../footer.pug

