@import '../../../../node_modules/@angular/material/core/theming/all-theme';
// Plus imports for other components in your appContainer.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your appContainer.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-indigo, 900);
$candy-app-accent:  mat-palette($mat-blue, 600, 200, 900);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your appContainer.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
